*{margin:0;padding:0;}

header{
    position:absolute;
    width: 100%;
    height: 55px;
    background-color: #0088FF;
}

#logo{
    position:absolute;
    left: 2%;
    right: 1.72%;
    top: 17.45%;
    bottom: 3.07%;
}

.kt{
    position:absolute;
    width: 90px;
    height: 30px;
    left: 253px;
    top: 12px;
    background: #FFFFFF;
    border-radius: 20px;
}